<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXmX7KZpu1YAYDjY84daBj7og34b_hVQU</string>
	<key>GCM_SENDER_ID</key>
	<string>194192825554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tailorApp</string>
	<key>PROJECT_ID</key>
	<string>suittailorapp</string>
	<key>STORAGE_BUCKET</key>
	<string>suittailorapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194192825554:ios:b9590c01e13036769b210b</string>
	<key>DATABASE_URL</key>
	<string>https://suittailorapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>